@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --danger-color-100: #fbeff3;
  --danger-color-200: #f7dee8;
  --danger-color-300: #f2c0d5;
  --danger-color-500: #bd0f58;
  --danger-color-700: #8f1941;
  --danger-color-900: #410b1e;
  --success-color-100: #f4fbef;
  --success-color-200: #e2f0db;
  --success-color-300: #d1e4cd;
  --success-color-500: #5c9550;
  --success-color-700: #386b2e;
  --success-color-900: #293913;
  --primary-color-100: #f6f8fe;
  --primary-color-200: #e8edfc;
  --primary-color-300: #bac4f7;
  --primary-color-500: #200df2;
  --primary-color-700: #081f91;
  --primary-color-900: #020219;
  --secondary-color-100: #fbfaf9;
  --secondary-color-200: #f1edea;
  --secondary-color-300: #e7dfda;
  --secondary-color-500: #7e7367;
  --secondary-color-700: #463f39;
  --secondary-color-900: #0f0d0a;
  --neutral-color-100: #ffffff;
  --neutral-color-200: #ebebeb;
  --neutral-color-300: #bfbfbf;
  --neutral-color-500: #808080;
  --neutral-color-700: #404040;
  --neutral-color-900: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
  color: var(--secondary-color-700);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
.small {
  font-size: 0.875rem;
}

.medium {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.display-inline-block {
  display: inline-block;
}

.absolute-centered {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
}

/* CONTAINERS */
.container-lg, .container-md, .container-sm, .container-xs {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.container-xs {
  width: 100%;
  max-width: 20rem;
}

.container-sm {
  width: 100%;
  max-width: 38rem;
}

.container-md {
  width: 100%;
  max-width: 56rem;
}

.container-lg {
  width: 100%;
  max-width: 72rem;
}

/* PADDING */
/* 2 */
.p-2 {
  padding: 0.125rem;
}
.px-2 {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}
.py-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.pt-2 {
  padding-top: 0.125rem;
}
.pr-2 {
  padding-right: 0.125rem;
}
.pb-2 {
  padding-bottom: 0.125rem;
}
.pl-2 {
  padding-left: 0.125rem;
}
/* 4 */
.p-4 {
  padding: 0.250rem;
}
.px-4 {
  padding-left: 0.250rem;
  padding-right: 0.250rem;
}
.py-4 {
  padding-top: 0.250rem;
  padding-bottom: 0.250rem;
}
.pt-4 {
  padding-top: 0.250rem;
}
.pr-4 {
  padding-right: 0.250rem;
}
.pb-4 {
  padding-bottom: 0.250rem;
}
.pl-4 {
  padding-left: 0.250rem;
}
/* 8 */
.p-8 {
  padding: 0.500rem;
}
.px-8 {
  padding-left: 0.500rem;
  padding-right: 0.500rem;
}
.py-8 {
  padding-top: 0.500rem;
  padding-bottom: 0.500rem;
}
.pt-8 {
  padding-top: 0.500rem;
}
.pr-8 {
  padding-right: 0.500rem;
}
.pb-8 {
  padding-bottom: 0.500rem;
}
.pl-8 {
  padding-left: 0.500rem;
}
/* 16 */
.p-16 {
  padding: 1rem;
}
.px-16 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pt-16 {
  padding-top: 1rem;
}
.pr-16 {
  padding-right: 1rem;
}
.pb-16 {
  padding-bottom: 1rem;
}
.pl-16 {
  padding-left: 1rem;
}
/* 32 */
.p-32 {
  padding: 2rem;
}
.px-32 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pt-32 {
  padding-top: 2rem;
}
.pr-32 {
  padding-right: 2rem;
}
.pb-32 {
  padding-bottom: 2rem;
}
.pl-32 {
  padding-left: 2rem;
}

/* MARGIN */
/* 2 */
.m-2 {
  margin: 0.125rem;
}
.mx-2 {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}
.my-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}
.mt-2 {
  margin-top: 0.125rem;
}
.mr-2 {
  margin-right: 0.125rem;
}
.mb-2 {
  margin-bottom: 0.125rem;
}
.ml-2 {
  margin-left: 0.125rem;
}
/* 4 */
.m-4 {
  margin: 0.250rem;
}
.mx-4 {
  margin-left: 0.250rem;
  margin-right: 0.250rem;
}
.my-4 {
  margin-top: 0.250rem;
  margin-bottom: 0.250rem;
}
.mt-4 {
  margin-top: 0.250rem;
}
.mr-4 {
  margin-right: 0.250rem;
}
.mb-4 {
  margin-bottom: 0.250rem;
}
.ml-4 {
  margin-left: 0.250rem;
}
/* 8 */
.m-8 {
  margin: 0.500rem;
}
.mx-8 {
  margin-left: 0.500rem;
  margin-right: 0.500rem;
}
.my-8 {
  margin-top: 0.500rem;
  margin-bottom: 0.500rem;
}
.mt-8 {
  margin-top: 0.500rem;
}
.mr-8 {
  margin-right: 0.500rem;
}
.mb-8 {
  margin-bottom: 0.500rem;
}
.ml-8 {
  margin-left: 0.500rem;
}
/* 16 */
.m-16 {
  margin: 1rem;
}
.mx-16 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mt-16 {
  margin-top: 1rem;
}
.mr-16 {
  margin-right: 1rem;
}
.mb-16 {
  margin-bottom: 1rem;
}
.ml-16 {
  margin-left: 1rem;
}
/* 32 */
.m-32 {
  margin: 2rem;
}
.mx-32 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mt-32 {
  margin-top: 2rem;
}
.mr-32 {
  margin-right: 2rem;
}
.mb-32 {
  margin-bottom: 2rem;
}
.ml-32 {
  margin-left: 2rem;
}

/* LAYOUTS */
.layout-fill {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.layout, .layout-column, .layout-row {
  box-sizing: border-box;
  display: flex;
}

.layout-wrap {
  flex-wrap: wrap;
}

.layout-row {
  flex-direction: row;
}

.layout-column {
  flex-direction: column;
}

.layout-align-start, .layout-align-start-start, .layout-align-start-center, .layout-align-start-end, .layout-align-start-stretch {
  justify-content: flex-start;
}

.layout-align-end, .layout-align-end-start, .layout-align-end-center, .layout-align-end-end, .layout-align-end-stretch {
  justify-content: flex-end;
}

.layout-align-space-between, .layout-align-space-between-center, .layout-align-space-between-start, .layout-align-space-between-end, .layout-align-space-between-stretch {
  justify-content: space-between;
}

.layout-align-start-center, .layout-align-center-center, .layout-align-end-center, .layout-align-space-between-center, .layout-align-space-around-center {
  align-items: center;
  align-content: center;
  max-width: 100%;
}

.layout-align-start-start, .layout-align-center-start, .layout-align-end-start, .layout-align-space-between-start, .layout-align-space-around-start {
  align-items: flex-start;
  align-content: flex-start;
}
.layout-align-start-end, .layout-align-center-end, .layout-align-end-end, .layout-align-space-between-end, .layout-align-space-around-end {
  align-items: flex-end;
  align-content: flex-end;
}
.layout-align-start-center, .layout-align-center-center, .layout-align-end-center, .layout-align-space-between-center, .layout-align-space-around-center {
  align-items: center;
  align-content: center;
  max-width: 100%;
}

/* ROUNDED */
.rounded-xs {
  border-radius: 0.25rem;
}

.rounded-sm {
  border-radius: 0.375rem;
}

.rounded-md {
  border-radius: 0.5rem;
}

.rounded-lg {
  border-radius: 0.75rem;
}

.rounded-xl {
  border-radius: 1rem;
}

/* BORDERS */
.border {
  border: 1px solid #463f39;
}

.border-bottom {
  border-bottom: 1px solid #463f39;
}

.border-top {
  border-top: 1px solid #463f39;
}

.border-right {
  border-right: 1px solid #463f39;
}

.border-left {
  border-left: 1px solid #463f39;
}

.border-2 {
  border-width: 2px;
}

/* SHADOWS */
.shadow-1 {
  box-shadow: 0 1px 2px rgba(15, 13, 10, 0.075), 0 0px 15px rgba(15, 13, 10, 0.06);
}

.shadow-2 {
  box-shadow: 0 2px 4px rgba(15, 13, 10, 0.1), 0 0px 20px rgba(15, 13, 10, 0.08);
}

.shadow-3 {
  box-shadow: 0 4px 8px rgba(15, 13, 10, 0.125), 0 0px 25px rgba(15, 13, 10, 0.1);
}

.shadow-4 {
  box-shadow: 0 8px 16px rgba(15, 13, 10, 0.15), 0 10px 30px rgba(15, 13, 10, 0.12);
}

.shadow-5 {
  box-shadow: 0 16px 32px rgba(15, 13, 10, 0.175), 0 15px 35px rgba(15, 13, 10, 0.16);
}

/* COLORS */
/* Secondary */
/* secondary-100 */
.bg-primary-100 {
  background-color: var(--primary-color-100) !important;
}
.text-primary-100 {
  color: var(--primary-color-100) !important;
}
.border-primary-100 {
  border-color: var(--primary-color-100) !important; 
}

/* secondary-200 */
.bg-primary-200 {
  background-color: var(--primary-color-200) !important;
}
.text-primary-200 {
  color: var(--primary-color-200) !important;
}
.border-primary-200 {
  border-color: var(--primary-color-200) !important; 
}

/* secondary-300 */
.bg-primary-300 {
  background-color: var(--primary-color-300) !important;
}
.text-primary-300 {
  color: var(--primary-color-300) !important;
}
.border-primary-300 {
  border-color: var(--primary-color-300) !important; 
}

/* secondary-500 */
.bg-primary-500 {
  background-color: var(--primary-color-500) !important;
}

.text-primary-500 {
  color: var(--primary-color-500) !important;
}

.border-primary-500 {
  border-color: var(--primary-color-500) !important; 
}

/* secondary-700 */
.bg-primary-700 {
  background-color: var(--primary-color-700) !important;
}

.text-primary-700 {
  color: var(--primary-color-700) !important;
}

.border-primary-700 {
  border-color: var(--primary-color-700) !important; 
}

/* secondary-900 */
.bg-primary-900 {
  background-color: var(--primary-color-900) !important;
}

.text-primary-900 {
  color: var(--primary-color-900) !important;
}

.border-primary-900 {
  border-color: var(--primary-color-900) !important; 
}
/* Secondary */
/* secondary-100 */
.bg-secondary-100 {
  background-color: var(--secondary-color-100) !important;
}
.text-secondary-100 {
  color: var(--secondary-color-100) !important;
}
.border-secondary-100 {
  border-color: var(--secondary-color-100) !important; 
}

/* secondary-200 */
.bg-secondary-200 {
  background-color: var(--secondary-color-200) !important;
}
.text-secondary-200 {
  color: var(--secondary-color-200) !important;
}
.border-secondary-200 {
  border-color: var(--secondary-color-200) !important;
}

/* secondary-300 */
.bg-secondary-300 {
  background-color: var(--secondary-color-300) !important;
}
.text-secondary-300 {
  color: var(--secondary-color-300) !important;
}
.border-secondary-300 {
  border-color: var(--secondary-color-300) !important; 
}

/* secondary-500 */
.bg-secondary-500 {
  background-color: var(--secondary-color-500) !important;
}

.text-secondary-500 {
  color: var(--secondary-color-500) !important;
}

.border-secondary-500 {
  border-color: var(--secondary-color-500) !important; 
}

/* secondary-700 */
.bg-secondary-700 {
  background-color: var(--secondary-color-700) !important;
}

.text-secondary-700 {
  color: var(--secondary-color-700) !important;
}

.border-secondary-700 {
  border-color: var(--secondary-color-700) !important; 
}

/* secondary-900 */
.bg-secondary-900 {
  background-color: var(--secondary-color-900) !important;
}

.text-secondary-900 {
  color: var(--secondary-color-900) !important;
}

.border-secondary-900 {
  border-color: var(--secondary-color-900) !important; 
}
/* Neutral */
/* neutral-100 */
.bg-neutral-100 {
  background-color: var(--neutral-color-100) !important;
}
.text-neutral-100 {
  color: var(--neutral-color-100) !important;
}
.border-neutral-100 {
  border-color: var(--neutral-color-100) !important; 
}

/* neutral-200 */
.bg-neutral-200 {
  background-color: var(--neutral-color-200) !important;
}
.text-neutral-200 {
  color: var(--neutral-color-200) !important;
}
.border-neutral-200 {
  border-color: var(--neutral-color-200) !important;
}

/* neutral-300 */
.bg-neutral-300 {
  background-color: var(--neutral-color-300) !important;
}
.text-neutral-300 {
  color: var(--neutral-color-300) !important;
}
.border-neutral-300 {
  border-color: var(--neutral-color-300) !important; 
}

/* neutral-500 */
.bg-neutral-500 {
  background-color: var(--neutral-color-500) !important;
}

.text-neutral-500 {
  color: var(--neutral-color-500) !important;
}

.border-neutral-500 {
  border-color: var(--neutral-color-500) !important; 
}

/* neutral-700 */
.bg-neutral-700 {
  background-color: var(--neutral-color-700) !important;
}

.text-neutral-700 {
  color: var(--neutral-color-700) !important;
}

.border-neutral-700 {
  border-color: var(--neutral-color-700) !important; 
}

/* secondary-900 */
.bg-neutral-900 {
  background-color: var(--neutral-color-900) !important;
}

.text-neutral-900 {
  color: var(--neutral-color-900) !important;
}

.border-neutral-900 {
  border-color: var(--neutral-color-900) !important; 
}