.btn, 
button.btn {
  padding: 0;
  border: none;
  outline: none;
  position: relative;
  vertical-align: middle;
  border-radius: 0.375rem;
}

.btn:hover, 
.btn:active, 
button.btn:hover, button.btn:active {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:disabled:not(.loading), 
button.btn:disabled:not(.loading) {
  cursor: not-allowed;
  opacity: 0.5;

}

.btn.btn-xs, 
button.btn.btn-xs {
  min-height: 1.5rem;
  line-height: 1.5rem;
  padding: 0.1875rem 0.5rem;
  font-size: 0.875rem;
}

.btn.btn-sm, 
button.btn.btn-sm {
  min-height: 1.5rem;
  line-height: 1.5rem;
  padding: 0.375rem 0.75rem;
}

.btn.btn-md, 
button.btn.btn-md {
  min-height: 1.5rem;
  line-height: 1.5rem;
  padding: 0.5625rem 1rem;
  border-radius: 0.5;
}

.btn.btn-lg, 
button.btn.btn-lg {
  min-height: 1.5rem;
  line-height: 1.5rem;
  padding: 0.8125rem 1.25rem;
  border-radius: 0.625;
}

/* PRIMARY */
/* primary raised */
.btn.btn-primary.btn-raised, 
button.btn.btn-primary.btn-raised {
  color: var(--neutral-color-100);
  background: var(--primary-color-500);
  border: 1px solid var(--primary-color-500);
  box-shadow: 0 1px 2px 0 rgba(32, 13, 242, 0.18), 0 0 8px 0 rgba(32, 13, 242, 0.12);
}

.btn.btn-primary.btn-raised:hover, 
button.btn.btn-primary.btn-raised:hover {
  border: 1px solid #1d0cda;
  background: #1d0cda;
}

.btn.btn-primary.btn-raised:active, 
button.btn.btn-primary.btn-raised:active {
  border: 1px solid #1609a9;
  background: #1609a9;
}

/*primary outlined */
.btn.btn-primary.btn-outlined, 
button.btn.btn-primary.btn-outlined {
  color: var(--primary-color-500);
  background: transparent;
  border: 1px solid var(--primary-color-300);
}

.btn.btn-primary.btn-outlined:hover, 
button.btn.btn-primary.btn-outlined:hover {
  border: 1px solid #a3b0f4;
}

.btn.btn-primary.btn-outlined:active, 
button.btn.btn-primary.btn-outlined:active {
  border: 1px solid #7589ef;
}

/*primary light */
.btn.btn-primary.btn-light, 
button.btn.btn-primary.btn-light {
  color: var(--primary-color-500);
  background: var(--primary-color-200);
  border: 1px solid var(--primary-color-200);
}

.btn.btn-primary.btn-light:hover, 
button.btn.btn-primary.btn-light:hover {
  background: #d1dbf9;
}

.btn.btn-primary.btn-light:active, 
button.btn.btn-primary.btn-light:active {
  border: 1px solid #a4b8f3;
}

/* SECONDARY */
/* secondary raised */
.btn.btn-secondary.btn-raised, 
button.btn.btn-secondary.btn-raised {
  color: var(--secondary-color-900);
  background: var(--neutral-color-100);
  border: 1px solid var(--secondary-color-300);
  box-shadow: 0 1px 2px 0 rgba(126, 115, 103, 0.18), 0 0 8px 0 rgba(126, 115, 103, 0.12);
}

.btn.btn-secondary.btn-raised:hover, 
button.btn.btn-secondary.btn-raised:hover {
  border: 1px solid #ddd2cb;
}

.btn.btn-secondary.btn-raised:active, 
button.btn.btn-secondary.btn-raised:active {
  border: 1px solid #c9b7ac;
}

/* secondary outlined */
.btn.btn-secondary.btn-outlined, 
button.btn.btn-secondary.btn-outlined {
  color: var(--secondary-color-900);
  background: transparent;
  border: 1px solid var(--secondary-color-300);
}

.btn.btn-secondary.btn-outlined:hover, 
button.btn.btn-secondary.btn-outlined:hover {
  border: 1px solid #ddd2cb;
}

.btn.btn-secondary.btn-outlined:active, 
button.btn.btn-secondary.btn-outlined:active {
  border: 1px solid #c9b7ac;
}

/* secondary light */
.btn.btn-secondary.btn-light, 
button.btn.btn-secondary.btn-light {
  color: var(--secondary-color-900);
  background: var(--secondary-color-300);
  border: 1px solid var(--secondary-color-300);
}

.btn.btn-secondary.btn-light:hover, 
button.btn.btn-secondary.btn-light:hover {
  border: 1px solid #ddd2cb;
}

.btn.btn-secondary.btn-light:active, 
button.btn.btn-secondary.btn-light:active {
  border: 1px solid #c9b7ac;
}

/* SUCCESS */
/* success light */
.btn.btn-success.btn-light, 
button.btn.btn-success.btn-light {
  color: var(--success-color-700);
  background: var(--success-color-200);
  border: 1px solid var(--success-color-200);
}

.btn.btn-success.btn-light:hover, 
button.btn.btn-success.btn-light:hover {
  border: 1px solid #d4e9c9;
}

.btn.btn-success.btn-light:active, 
button.btn.btn-success.btn-light:active {
  border: 1px solid #b7daa5;
}

/* DANGER */
/* danger light */
.btn.btn-danger.btn-light, 
button.btn.btn-danger.btn-light {
  color: var(--danger-color-500);
  background: var(--danger-color-200);
  border: 1px solid var(--danger-color-200);
}

.btn.btn-danger.btn-light:hover, 
button.btn.btn-danger.btn-light:hover {
  border: 1px solid #f2c9da;
}

.btn.btn-danger.btn-light:active, 
button.btn.btn-danger.btn-light:active {
  border: 1px solid #e8a0bd;
}


/* RIPPLE */
.btn.btn-ripple, 
button.btn.btn-ripple {
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.btn.btn-ripple:after, 
button.btn.btn-ripple:after {
  top: 0;
  left: 0;
  opacity: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  pointer-events: none;
  background-position: 50%;
  -webkit-transform: scale(10, 10);
  transform: scale(10, 10);
  background-repeat: no-repeat;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 1s;
  transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 10%, transparent 10%);
}

.btn.btn-ripple:active:after, 
button.btn.btn-ripple:active:after {
  opacity: 0.3;
  transition: 0s;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

.btn:disabled, 
button.btn:disabled {
  box-shadow: none;
  color: #463f39;
  background: #f3efec;
  border-color: #f3efec;
}

.btn.btn-primary.btn-raised:disabled, 
.btn.btn-primary.btn-raised:disabled:hover, 
.btn.btn-primary.btn-raised:disabled:active, 
button.btn.btn-primary.btn-raised:disabled, 
button.btn.btn-primary.btn-raised:disabled:hover, 
button.btn.btn-primary.btn-raised:disabled:active {
  box-shadow: none;
  color: #463f39;
  background: #f3efec;
  border-color: #f3efec;
}

.btn.btn-primary.btn-raised:disabled, 
.btn.btn-primary.btn-raised:disabled:hover, 
.btn.btn-primary.btn-raised:disabled:active, 
button.btn.btn-primary.btn-raised:disabled, 
button.btn.btn-primary.btn-raised:disabled:hover, 
button.btn.btn-primary.btn-raised:disabled:active {
  box-shadow: none;
  color: #463f39;
  background: #f3efec;
  border-color: #f3efec;
}