.filedrop:hover {
  border-color: var(--secondary-color-500) !important;
}

.filedrop:active {
  opacity: 0.5;
}

.remove-file:hover {
  background-color: var(--danger-color-300) !important;
}

.remove-file:active {
  opacity: 0.7;
}